.Task {
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 8px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    flex: 1;
    box-sizing: border-box;
    padding: 5px 10px;
}

.Task .Button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    padding: 3px 10px;
    margin-right: 0;
    width: auto;
}