.AddList {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    background: rgba(235, 236, 240, 0.24);
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    flex: 0 0 15%;
    max-height: 100%;
    position: relative;
    margin: 0 20px;
}